# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/

# 虚拟环境
.venv/
venv/
env/

# 环境变量
.env

# IDE
.idea/
.vscode/

# 日志
*.log
logs/

# 数据库迁移临时文件
alembic/versions/__pycache__/
